.page-enter-active,
.page-leave-active {
	transition: opacity .3s
}

.page-enter,
.page-leave-active {
	opacity: 0
}

html {
	font-family: "Avenir Next", "Source Sans Pro", PingFangTC-light, PingFang-SC-light, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box
}

a {
	text-decoration: none;
	color: inherit;
	-webkit-appearance: none;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	-moz-appearance: none;
	-moz-text-size-adjust: 100%
}

*,
:after,
:before {
	box-sizing: border-box;
	margin: 0
}

* {
	-webkit-overflow-scrolling: touch
}

:root {
	--vw: 1vw;
	--main-color: #0e669c;
	--main-color-background: rgba(14, 102, 156, 0.4);
	--header-font-color: var(--main-color);
	--header-font-color-active: #fff;
	--border-color: rgba(0, 0, 0, 0.12);
	--border-color-mid: rgba(0, 0, 0, 0.09);
	--border-color-light: rgba(0, 0, 0, 0.06);
	--ctn-max-width: 1500px;
	--ctn-padding: 1.5rem;
	--mp-grid-col: 3;
	--mp-grid-space: 1.6rem;
	--design-grid-col: 5;
	--design-grid-space: var(--mp-grid-space);
	--cate-background: #e2ecf3;
	--tool-background: rgba(0, 0, 0, 0.06);
	--tool-color: rgba(0, 0, 0, 0.3);
	--design-article-max-width: 1000px;
	--vh: 1vh;
	--nation-main-color: #1c4e82;
	--anima-pp-main-color: #0e669c;
	--anima-pp-form-color: #000;
	--anima-pp-form-secondary-color: rgba(0, 0, 0, 0.24)
}

@media (max-width:1750px) {
	:root {
		--ctn-max-width: 1200px;
		--design-grid-col: 4;
		--design-article-max-width: 800px
	}
}

@media (max-width:1440px) {
	:root {
		--ctn-max-width: 1000px;
		--design-grid-col: 3;
		--design-article-max-width: 600px
	}
}

@media (max-width:1200px) {
	:root {
		--ctn-max-width: 850px;
		--mp-grid-col: 2;
		--mp-grid-space: 1.4rem
	}
}

@media (max-width:1000px) {
	:root {
		--ctn-max-width: 700px;
		--mp-grid-space: 1.2rem;
		--design-grid-col: 2
	}
}

@media (max-width:720px) {
	:root {
		--mp-grid-col: 1;
		--ctn-max-width: 450px
	}
}

@media (max-width:450px) {
	:root {
		--mp-grid-col: 1;
		--ctn-max-width: 100%;
		--ctn-padding: 1.2rem;
		--design-grid-col: 1
	}

	body {
		font-size: 14px
	}
}

@media (max-width:320px) {
	body {
		width: 320px
	}
}

.header-v-space {
	height: var(--header-height)
}

.nuxt-progress {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	width: 0;
	opacity: 1;
	transition: width .1s, opacity .4s;
	background-color: #000;
	z-index: 999999
}

.nuxt-progress.nuxt-progress-notransition {
	transition: none
}

.nuxt-progress-failed {
	background-color: red
}

a {
	-webkit-appearance: none !important;
	-webkit-text-size-adjust: 100% !important;
	-webkit-tap-highlight-color: transparent !important
}

.page-outer {
	text-align: center;
	text-align: -moz-center;
	text-align: -webkit-center;
	/* background: url("../img/background.webp"); */
	background: linear-gradient(#F57F65, #F8997B, #FCB796, #FED2AF, #FFD4B1);
	z-index: -2;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	pointer-events: none
}

.page {
	overflow: hidden;
	height: 100vh;
	height: calc(var(--vh)*100);
	display: flex;
	flex-direction: column;
	align-items: center;
	pointer-events: auto
}

.page-border {
	width: 100%;
	height: 100%;
	position: fixed;
/* 	background-size: contain;
	background-image: url("../img/page border.webp");
	background-repeat: no-repeat;
	background-position: center; */
}

.cloud-up {
	width: 100%;
	position: fixed;
}

.cloud-up img {
	width: 100%;
	transform: translateY(-10%);
}

.cloud-down {
	width: 100%;
	position: fixed;
	bottom: 0;
}

.cloud-down img {
	width: 100%;
	transform: translateY(10%);
}

.choose-bar-bg {
	position: fixed;
	bottom: 0;
	width: 90.186915vw;
	background-color: #fefaf2;
	height: calc(var(--vh)*36 + 20px);
	border-radius: 20px;
}

.choose-bar-bg2 {
	position: fixed;
	bottom: 0;
	width: 90.186915vw;
	background-color: #fefaf2;
	left: 4.9065425vw;
	height: 100%;
	z-index: 0;
}

/* .choose-bar-bg img {
	width: 96%;
} */

.logo,
.page {
	position: relative
}

.logo {
	color: #fff;
	max-width: 80%;
	height: calc(var(--vh)*22);
	padding: calc(var(--vh)*3);
}

.avatar {
	flex-grow: 1;
	width: 100%;
	position: relative
}

.avatar-img-label {
	display: block;
	width: 100%;
	transition-timing-function: ease-in-out;
	-webkit-transition-duration: .2s;
	-moz-animation-duration: .2s;
	transition-duration: .2s;
	-webkit-appearance: none;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent
}

.avatar-img-outer {
	width: calc(100vw - 160px);
	height: calc(100vw - 160px);
	max-height: 26vh;
	max-width: 26vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsla(0, 0%, 100%, .3);
	border-radius: 10%;
	position: relative;
}

.avatar-img-outer:before {
	content: "";
	display: block;
	border-radius: 10%;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid hsla(0, 0%, 100%, .36);
	z-index: 1;
	pointer-events: none
}

.avatar-img-bg-pre {
	max-height: 40%;
	max-width: 40%;
}

.avatar-img-bg {
	max-height: 100%;
	max-width: 100%;
}


.avatar-info {
	margin-top: 10px;
}

.avatar-info img {
	width: 119px;
}

.avatar-img-bg,
.avatar-img {
	margin: 0;
	border-radius: 10%;
	overflow: hidden;
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
	color: #fff
}

.avatar-img,
.loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.loading {
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10%;
	background: rgba(0, 0, 0, .36);
	z-index: .5;
	pointer-events: none;
	transition-timing-function: ease-in-out;
	-webkit-transition-duration: .3s;
	-moz-animation-duration: .3s;
	transition-duration: .3s
}

.avatar-img-loading .loading {
	opacity: 1
}

.avatar-head {
	width: 100%;
	padding-top: 10vh;
	padding-bottom: 3vh;
}

.avatar-head img {
	width: calc(100% - 120px);

}

.sp {
	width: 64px;
	height: 64px;
	clear: both;
	margin: 20px auto
}

.sp-circle {
	border: 4px solid hsla(0, 0%, 100%, .25);
	border-top-color: #fff;
	border-radius: 50%;
	-webkit-animation: spCircRot-data-v-596c9605 .6s linear infinite;
	animation: spCircRot-data-v-596c9605 .6s linear infinite
}

@-webkit-keyframes spCircRot-data-v-596c9605 {
	0% {
		-webkit-transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(359deg)
	}
}

@keyframes spCircRot-data-v-596c9605 {
	0% {
		transform: rotate(0)
	}

	to {
		transform: rotate(359deg)
	}
}

.upload {
	display: block;
	color: #fff;
	max-width: 60%;
	height: calc(var(--vh)*3.7);
	margin-top: calc(var(--vh)*2.3);
	position: relative;
	z-index: 10
}

.avatar-img-label:active {
	opacity: .6
}

.cloud {
	width: 100%;
	transform: translateY(.5%);
	opacity: .8
}

.boy,
.cloud {
	height: calc(var(--vh)*50);
	display: block;
	position: absolute;
	bottom: 0;
	z-index: 0;
	pointer-events: none
}

.before-choose-bar {
	height: 0;
	width: 101%;
	display: block;
	background-size: cover;
	box-shadow: 0 12px 24px rgba(14, 102, 156, .06), 0 -60px 120px rgba(0, 0, 0, .3);
	position: relative;
	z-index: 1
}

.choose-bar {
	width: 100%;
	position: relative;
	z-index: 20
}

.choose-info {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 20vh;
}

.choose-info img {}

.choose-info a {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	transition: 0.1s ease-in-out;
}

.choose-info a :active{
	transform: scale(0.9);
}

.Lbtn {
	margin-right: 20px;
}

.Rbtn {
	margin-left: 20px;
}

.avatar-border-list-outer {
	display: flex;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	-ms-overflow-style: none;
	margin-top: 20px;
}

.avatar-border-list-outer::-webkit-scrollbar {
	display: none
}

.avatar-border-list {
	width: 100%;
	white-space: nowrap;
}

.avatar-border-list .list-item {
	-webkit-animation: appear-data-v-596c9605 .5s;
	animation: appear-data-v-596c9605 .5s;
	width: calc(var(--vh)*16);
	border-radius: calc(var(--vh)*0.8);
	display: block;
	margin-left: calc(var(--vh)*0.8);
	margin-right: calc(var(--vh)*0.8);
	position: relative;
	margin-top: 20px;
}

.avatar-border-list a {
	transition-timing-function: ease-out;
	-webkit-transition-duration: .2s;
	-moz-animation-duration: .2s;
	transition-duration: .2s;
	-webkit-appearance: none;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent
}

.avatar-border-list a:active {
	transform: scale(.9);
	transition-timing-function: ease-out;
	-webkit-transition-duration: .1s;
	-moz-animation-duration: .1s;
	transition-duration: .1s
}

.avatar-border-list .list-item-before,
.avatar-border-list img {
	height: calc(var(--vh)*16);
}

.avatar-border-list img {
	border-radius: calc(var(--vh)*0.8);
	display: block;
	width: calc(var(--vh)*16);
}

.avatar-border-list .avatar-border-active:before {
	content: "";
	display: block;
	border-radius: calc(var(--vh)*0.8 + 2px);
	position: absolute;
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	border: 3px solid var(--nation-main-color);
	z-index: 1;
	pointer-events: none;
}

.avatar-choose {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 20px;
	overflow-x: scroll;
	margin-left: 8vw;
	margin-right: 8vw;
}

::-webkit-scrollbar {
	display: none;
	/* Webkit-based browsers (Chrome, Safari, etc.) */
}

.choose {
	position: absolute;
	left: 0;
	bottom: calc(var(--vh)*1.5);
	width: 100%
}

.choose-img {
	color: var(--nation-main-color);
	max-width: 60%;
	height: calc(var(--vh)*3.5);
	margin: calc(var(--vh)*2) 0
}

@media (min-aspect-ratio:9/16) {
	.page {
		max-width: calc(var(--vh)*60)
	}
}

@-webkit-keyframes appear-data-v-596c9605 {
	0% {
		opacity: 0
	}
}

@keyframes appear-data-v-596c9605 {
	0% {
		opacity: 0
	}
}

