@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');

* {
	margin: 0;
	/*font-family: 'Ma Shan Zheng', cursive;*/
	font-family: 'Noto Serif SC', serif;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-image: url(../img/bg.jpg);
	background-position: center;
	background-size: cover;
}

.info {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info h1 {
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
}

.info h2 {
	font-size: 32px;
	font-weight: 700;
}

.qrcode {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.qrcode h6 {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 400;
}

.qrcode p {
	font-size: 16px;
	font-weight: 400;
	margin-top: 8px;
}

.qrcode-block {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.qrcode-block img {
	width: 60%;
}
