@font-face {
	font-family: "方正兰亭黑";
	src: url("../font/FZLTHJW.TTF")
}

@font-face {
	font-family: "方正兰亭粗黑";
	src: url("../font/FZLTCHJW.TTF")
}

@font-face {
	font-family: "方正兰亭中粗黑";
	src: url("../font/FZLTZCHJW.TTF")
}

@font-face {
	font-family: "方正兰亭中黑";
	src: url("../font/FZLTZHJW.TTF")
}

* {
	margin: 0;
	outline: none;
	color: #000000;
}

.page {
	width: 100%;
	height: auto;
}



@media (min-width : 501px) {

	.headline {
		position: relative;
		top: 8vh;
	}

	.headline h1 {
		text-align: center;
		font-family: "方正兰亭粗黑", sans-serif;
		font-size: 6vh;
	}

	.headline p {
		margin-top: 20px;
		text-align: center;
		font-size: 18px;
	}

	/*导航栏*/
	.bar {
		width: 100%;
		position: fixed;
		height: 80px;
		top: 0;
		background-color: #ffffff;
		z-index: 500;
	}

	.bar-download {
		position: fixed;
		background-color: #00a0e9;
		color: #ffffff;
		right: 50px;
		height: 44px;
		padding-left: 40px;
		padding-right: 40px;
		top: 18px;
		border-radius: 25px;
		border: none;
		font-size: 15px;
		font-weight: 600;
		font-family: "方正兰亭黑", sans-serif;
		transition: background-color 0.5s;
	}

	.bar-download:hover {
		background-color: #008cc8;
		cursor: pointer;
	}

	.bar-navi {
		display: flex;
		width: auto;
		position: fixed;
		left: calc(50% - 280px);
	}

	.bar-navi a {
		padding: 32px 20px;
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;
		color: #000000;
		margin: 0 30px;
		transition: color 0.5s ease-in-out;
		font-family: "方正兰亭黑", sans-serif;
	}

	.bar-navi a:hover {
		color: #59c06d;
	}

	/*块1*/

	.block1 {
		min-height: 100vh;
		position: relative;
		width: 100%;
		background: linear-gradient(135deg,rgb(250,242,255)10%,rgb(204,218,255)100%);
	}

	.block1 .left {
		position: absolute;
		left: 15%;
		top: 40vh;
	}

	.block1 .left .head {
		display: flex;
	}

	.block1 .left .head .logo {
		width: 8vw;
		height: 8vw;
		border-radius: 1vw;
	}

	.block1 .left .head .logodescription {
		margin-left: 1.5vw;
		height: auto;
		margin-top: 1.5vw;
	}

	.block1 .left .head .logodescription h1 {
		font-size: 3vw;
		color: #0e57b6;
		line-height: 3.75vw;
		letter-spacing: 0.2vw;
		font-family: "方正兰亭中粗黑", sans-serif;
	}

	.block1 .left .head .logodescription h6 {
		font-size: 1.25vw;
		color: #352956;
		letter-spacing: 1px;
		padding-left: 0.1041666vw;
		font-family: "方正兰亭中黑", sans-serif;
	}

	.block1 .left .download {
		display: flex;
		margin-top: 2vw;
	}

	.download-button-android {
		width: 10vw;
		font-size: 0.8vw;
		font-weight: 600;
		height: 3vw;
		border-radius: 1.5vw;
		margin-right: 20px;
		color: #ffffff;
		background-color: #019fe8;
		border: none;
		font-family: "方正兰亭黑", sans-serif;
		transition: background-color 0.4s ease;
	}

	.download-button-android:hover {
		background-color: #008eca;
		cursor: pointer;
	}

	.download-button-web {
		width: 8vw;
		font-size: 0.8vw;
		font-weight: 600;
		height: 3vw;
		border-radius: 1.5vw;
		margin-right: 20px;
		color: #ffffff;
		background-color: #58bf6c;
		border: none;
		font-family: "方正兰亭黑", sans-serif;
		transition: background-color 0.4s ease;
	}

	.download-button-web:hover {
		background-color: #4aa15a;
		cursor: pointer;
	}

	.block1 .right {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 50%;
		margin: 0;
	}

	.block1 .right .phone {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	/*块2*/

	.block2 {
		min-height: 100vh;
		position: relative;
		width: 100%;
		background-color: #ffffff;
	}

	.block2 .display {
		position: relative;
		display: flex;
		margin-left: calc(45vw - 43.64512vh);
		top: 16vh;
	}

	.block2 .display .on-display {
		position: relative;
		height: 60vh;
		margin-right: 5vw;
	}

	.block2 .display .on-display .on-display-img {
		height: 100%;
	}

	.block2 .display .on-display p {
		text-align: center;
		margin-top: 1.5vh;
		font-size: 18px;
		font-weight: 900;
	}

	/*块3*/

	.block3 {
		min-height: 100vh;
		position: relative;
		width: 100%;
		background:  linear-gradient(rgba(231, 254, 247, 1), rgba(253, 246, 245, 1));
	}

	.block3 .img {
		height: 70vh;
		bottom: 0;
		position: absolute;
		margin-left: calc(50vw - 30.734vh);
	}

	.block3 .img .img-pic {
		height: 100%;
		transition: transform 0.5s ease;
	}

	.block3 .img .img-pic:hover {
		transform: translateX(-30%);
	}

	.block3 .img0 {
		height: 55vh;
		margin-left: calc(49.5vw);
		margin-top: 25vh;
	}

	.block3 .img0 .img-pic0 {
		height: 100%;
	}

	/*块4*/

	.block4 {
		min-height: calc(20vh + 20vw);
		position: relative;
		width: 100%;
		background-color: #ffffff;
	}

	.block4 .display {
		position: relative;
		display: flex;
		margin-left: 24vw;
		top: calc(7vh + 5vw);
	}

	.block4 .display .on-display {
		position: relative;
		width: 10vw;
		margin-right: 4vw;
	}

	.block4 .display .on-display .on-display-img {
		position: relative;
		width: 50%;
		left: 2.5vw;
	}

	.block4 .display .on-display p {
		text-align: center;
		margin-top: 1.5vh;
		font-size: 0.83vw;
		font-weight: 900;
		color: #5a5a5a;
	}

	.block4 .display .on-display h1 {
		text-align: center;
		margin-top: 1.5vh;
		font-size: 1.15vw;
		font-family: "方正兰亭粗黑", sans-serif;
	}

	/*块5*/

	.block5 {
		min-height: calc(25vh + 5vw);
		position: relative;
		width: 100%;
		background: #fdf0f0;
	}

	.block5 .head {
		position: relative;
		top: 8vh;
	}

	.block5 .head h1 {
		text-align: center;
		font-family: "方正兰亭粗黑", sans-serif;
		font-size: 5vh;
	}

	.block5 .head p {
		margin-top: 10px;
		text-align: center;
		font-size: 18px;
	}

	.block5 .head .button-down {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 4vh;
		width: 12vw;
		font-size: 0.8vw;
		font-weight: 600;
		height: 3vw;
		border-radius: 1.5vw;
		color: #ffffff;
		background-color: #58bf6c;
		border: none;
		font-family: "方正兰亭黑", sans-serif;
		transition: background-color 0.4s ease;
	}

	.block5 .head .button-down:hover {
		background-color: #4aa15a;
		cursor: pointer;
	}

	/*块6*/

	.block6 {
		min-height: 15vh;
		position: relative;
		width: 100%;
		background-color: #ffffff;
	}
	
	.copyright {
		position: relative;
		top: 6.5vh;
	}
	
	.copyright p {
		text-align: center;
		font-size: 2vh;
		color: #9d9d9d;
	}
}


@media (max-width : 500px) {

	.headline {
		position: relative;
		top: 8vh;
	}

	.headline h1 {
		text-align: center;
		font-family: "方正兰亭粗黑", sans-serif;
		font-size: 5vh;
	}

	.headline p {
		margin-top: 20px;
		text-align: center;
		font-size: 18px;
	}

	/*导航栏*/
	.bar {
		width: 100%;
		position: fixed;
		height: 80px;
		top: 0;
		background-color: #ffffff;
		z-index: 500;
	}

	.bar-download {
		position: fixed;
		background-color: #00a0e9;
		color: #ffffff;
		right: 20px;
		height: 44px;
		padding-left: 40px;
		padding-right: 40px;
		top: 18px;
		border-radius: 25px;
		border: none;
		font-size: 15px;
		font-weight: 600;
		font-family: "方正兰亭黑", sans-serif;
		transition: background-color 0.5s;
	}

	.bar-download:hover {
		background-color: #008cc8;
		cursor: pointer;
	}

	.bar-navi {
		display: none;
		width: auto;
		position: fixed;
		left: calc(50% - 280px);
	}

	.bar-navi a {
		padding: 32px 20px;
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;
		color: #000000;
		margin: 0 30px;
		transition: color 0.5s ease-in-out;
		font-family: "方正兰亭黑", sans-serif;
	}

	.bar-navi a:hover {
		color: #59c06d;
	}

	/*块1*/

	.block1 {
		min-height: 100vh;
		position: relative;
		width: 100%;
		background: linear-gradient(135deg,rgb(250,242,255)10%,rgb(204,218,255)100%);
	}

	.block1 .left {
		position: absolute;
		left: 15%;
		top: 20vh;
	}

	.block1 .left .head {
		display: flex;
	}

	.block1 .left .head .logo {
		width: 20vw;
		height: 20vw;
		border-radius: 2.5vw;
	}

	.block1 .left .head .logodescription {
		margin-left: 3vw;
		height: auto;
		margin-top: 1.5vw;
	}

	.block1 .left .head .logodescription h1 {
		font-size: 8vw;
		color: #0e57b6;
		line-height: 12vw;
		letter-spacing: 0.2vw;
		font-family: "方正兰亭中粗黑", sans-serif;
	}

	.block1 .left .head .logodescription h6 {
		font-size: 4vw;
		color: #352956;
		letter-spacing: 1px;
		padding-left: 0.5vw;
		margin-top: 0.25vh;
		font-family: "方正兰亭中黑", sans-serif;
	}

	.block1 .left .download {
		display: grid;
		margin-top: 8vw;
	}

	.download-button-android {
		width: 70vw;
		font-size: 3.5vw;
		font-weight: 600;
		height: 50px;
		margin-bottom: 15px;
		border-radius: 25px;
		color: #ffffff;
		background-color: #019fe8;
		border: none;
		font-family: "方正兰亭黑", sans-serif;
		transition: background-color 0.4s ease;
	}

	.download-button-android:hover {
		background-color: #008eca;
		cursor: pointer;
	}

	.download-button-web {
		width: 70vw;
		font-size: 3.5vw;
		font-weight: 600;
		height: 50px;
		border-radius: 25px;
		color: #ffffff;
		background-color: #58bf6c;
		border: none;
		font-family: "方正兰亭黑", sans-serif;
		transition: background-color 0.4s ease;
	}

	.download-button-web:hover {
		background-color: #4aa15a;
		cursor: pointer;
	}

	.block1 .right {
		position: absolute;
		right: 10%;
		bottom: 0;
		width: 80%;
		margin: 0;
	}

	.block1 .right .phone {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	/*块2*/

	.block2 {
		min-height: 180vh;
		position: relative;
		width: 100%;
		background-color: #ffffff;
	}

	.block2 .display {
		position: relative;
		display: grid;
		top: 16vh;
	}

	.block2 .display .on-display {
		position: relative;
		height: 40vh;
		width: auto;
		padding-left: 30vw;
		padding-bottom: 8vh;
	}

	.block2 .display .on-display .on-display-img {
		height: 100%;
	}

	.block2 .display .on-display p {
		text-align: center;
		position: relative;
		width: 40vw;
		font-size: 18px;
		font-weight: 900;
	}

	/*块3*/

	.block3 {
		min-height: 90vh;
		position: relative;
		width: 100%;
		background:  linear-gradient(rgba(231, 254, 247, 1), rgba(253, 246, 245, 1));
	}

	.block3 .img {
		height: 50vh;
		bottom: 0;
		position: absolute;
		margin-left: 10vw;
	}

	.block3 .img .img-pic {
		height: 100%;
		transition: transform 0.5s ease;
	}

	.block3 .img .img-pic:hover {
		transform: translateX(-30%);
	}

	.block3 .img0 {
		height: 45vh;
		margin-left: calc(46vw);
		margin-top: 24vh;
	}

	.block3 .img0 .img-pic0 {
		height: 100%;
	}

	/*块4*/

	.block4 {
		min-height: calc(80vh + 75vw);
		position: relative;
		width: 100%;
		background-color: #ffffff;
	}

	.block4 .display {
		position: relative;
		display: grid;
		top: 14vh;
	}

	.block4 .display .on-display {
		position: relative;
		width: 100vw;
		margin-bottom: 4vh;
	}

	.block4 .display .on-display .on-display-img {
		position: relative;
		width: 20%;
		left: 40vw;
	}

	.block4 .display .on-display p {
		text-align: center;
		margin-top: 0.5vh;
		font-size: 16px;
		font-weight: 900;
		color: #5a5a5a;
	}

	.block4 .display .on-display h1 {
		text-align: center;
		margin-top: 1.5vh;
		font-size: 22px;
		font-family: "方正兰亭粗黑", sans-serif;
	}

	/*块5*/

	.block5 {
		min-height: calc(30vh + 15vw);
		position: relative;
		width: 100%;
		background: #fdf0f0;
	}

	.block5 .head {
		position: relative;
		top: 8vh;
	}

	.block5 .head h1 {
		text-align: center;
		font-family: "方正兰亭粗黑", sans-serif;
		font-size: 5vh;
	}

	.block5 .head p {
		margin-top: 10px;
		text-align: center;
		font-size: 18px;
	}

	.block5 .head .button-down {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 4vh;
		width: 70vw;
		font-size: 3.5vw;
		font-weight: 600;
		height: 50px;
		font-weight: 600;
		border-radius: 25px;
		color: #ffffff;
		background-color: #58bf6c;
		border: none;
		font-family: "方正兰亭黑", sans-serif;
		transition: background-color 0.4s ease;
	}

	.block5 .head .button-down:hover {
		background-color: #4aa15a;
		cursor: pointer;
	}

	/*块6*/

	.block6 {
		min-height: 15vh;
		position: relative;
		width: 100%;
		background-color: #ffffff;
	}
	
	.copyright {
		position: relative;
		top: 6.5vh;
	}
	
	.copyright p {
		text-align: center;
		font-size: 2vh;
		color: #9d9d9d;
	}
}